---
import PasswordDiscovery from '../components/PasswordDiscovery.vue'
import DrawingHangman from '../components/DrawingHangman.vue'
import PickLetter from '../components/PickLetter.vue'
import IndexLayout from '../layouts/IndexLayout.astro'
---

<IndexLayout>
  <main
    class="h-[100svh] p-4 md:p-12 xl:p-12 flex flex-col items-center justify-between"
  >
    <h1 class="text-4xl text-white text-center">The Hangman</h1>
    <PasswordDiscovery client:only="vue" />
    <DrawingHangman client:only="vue" />
    <PickLetter client:only="vue" />
  </main>
</IndexLayout>
